[net]
# Testing
batch=1
subdivisions=1
# Training
# batch=64
# subdivisions=2
width=640
height=640
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

# 0  640*640*16
[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

# 1  320*320*16    2
[maxpool]
size=2
stride=2

# 2   320*320*32
[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

# 3   160*160*32    4
[maxpool]
size=2
stride=2

# 4   160*160*64
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

# 5   80*80*64    8
[maxpool]
size=2
stride=2

# 6  80*80*128
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

# 7   40*40*128   16
[maxpool]
size=2
stride=2

# 8  40*40*256
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

# 9  40*40*256
[maxpool]
size=2
stride=1

# 10  40*40*512
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky


###########

# 11
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

# 12
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

# 13
[convolutional]
size=1
stride=1
pad=1
filters=18
activation=linear


# 14
[yolo]
mask = 3,4,5
anchors = 6,6,  9,9,  14,14,  18,19,  27,28,  49,49
classes=1
num=6
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

#########################################
# 15
[route]
layers = -9

# 16
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

# 17
[upsample]
stride=2

# 18
[route]
layers = -1, 4

# 21
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

# 22
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

# 23
[convolutional]
size=1
stride=1
pad=1
filters=18
activation=linear

# 23
[yolo]
mask = 0,1,2
anchors =  6,6,  9,9,  14,14,  18,19,  27,28,  49,49
classes=1
num=6
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1
